@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: lightgoldenrodyellow;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
}

.ant-form {
  text-align: end;
}

.ant-form-item-control {
  text-align: start;
  line-height: 30px;
}

.ant-btn-base {
  border-color: transparent;
  color: white;
}

.ant-btn-base:hover,
.ant-btn-base:focus,
.ant-btn-base:active {
  border-color: transparent;
  background: #98a1b5;
  color: white;
}

.ant-btn-radius {
  border-radius: 5px;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(19, 49, 109, 0.16);
  border-radius: 5px;
  overflow: hidden;
  max-width: 190px;
  padding: 0 3px;
}

.tag-button {
  background: white;
  border-radius: 3px;
  text-align: start;
  color: #14316d;
  height: 36px;
  width: 100%;
}

.tag-button:hover,
.tag-button:active,
.tag-button:focus {
  background: #adb6cc;
  color: #14316d;
}

.add-tag-button {
  border-color: #14316d !important;
  color: #14316d !important;
  border: 2px solid #14316d;
  line-height: 16px;
  padding: 3px 11px;
  font-weight: 500;
  font-size: 14px;
  height: auto;
}

.custom-text-area {
  border: 1px solid #adb6cc;
  background: #ffffff;
  transition: all 0.3s;
  border-radius: 20px;
  margin-bottom: 8px;
  padding: 4px 11px;
  min-height: 220px;
  color: #213e76;
  overflow: auto;
  outline: none;
  width: 650px;
}

.custom-text-area:empty:before {
  content: "Write your message";
  color: #adb6cc;
}

.custom-text-area:hover {
  border: 1px solid #213e76;
}

.custom-text-area:focus {
  border: 1px solid rgb(110, 223, 235);
}

.custom-text-area div br::selection,
.custom-text-area div::selection,
.custom-text-area::selection {
  background: #213e76;
}

.highlighted-tags {
  border: 1px solid transparent;
  overflow-wrap: break-word;
  background: #ffffff;
  border-radius: 20px;
  line-height: 30px;
  padding: 4px 11px;
  min-height: 220px;
  text-align: start;
  color: #213e76;
  width: 650px;
}

.highlighted-tags span {
  background: #213e76;
  color: #ffffff;
}